body { background: url("../img/bg.jpg") repeat; overflow-y: scroll; padding-bottom: 20px; }

/*header*/
.header { background-color: rgba(0, 0, 0, 0.2); }
.header .container { padding-top: 5px; padding-bottom: 5px; height: 25px; }
.header .container .head-img { width: 25px; height: 25px; }
.header .container .blog-description { margin-left: 10px; }

/*content*/
/*nav*/
.blog-nav .blog-list-header { font-size: 18px; font-weight: bold; }
.blog-nav .blog-type { font-size: 14px; font-weight: bold; }
.blog-nav .blog-sort { cursor: pointer; }
.blog-nav .dir > ul { margin-left: 20px; display: none; }
.blog-nav .dir > ul.show { display: block; }
.blog-nav .loading { background-position: left center; }

/*common*/
.loading { background: url("../img/loading.gif") no-repeat center center; height: 50px; }
